.control-group.form-type-textfield.form-item-search-block-form.form-item {
  width: 80%;
}
#edit-search-block-form--2 {
  width: 90%;
}
.goto-full {
  width: 30%;
}

ul.nav {
  margin: 0 0 10px 25px;
  list-style: disc;
}

.menu-toggle {
  margin: 0 0 10px 0;
}

.icon-chevron-down-large {
  background-image: url(images/chevron-down-large.png);
  height: 32px;
  width: 32px;
  background-position: 0 0;
}
.icon-chevron-up-large {
  background-image: url(images/chevron-up-large.png);
  height: 32px;
  width: 32px;
  background-position: 0 0;
}

.fine-print {
  font-size: 12px;
}

#search-block-form #edit-submit:after {
  content: "Søg";
}

h3 i {
  right: 30px;  
  position: relative;
  top: 5px;
}



